body {
  margin: 0;
  background-color: lightgrey;
  font-family:'PT Sans Narrow', sans-serif;
  min-height: 100vh;
}

.header {
  background-color: teal;
  height: 120px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 25px
}
.navbar {
  overlow: hidden;
  background: grey;
  display: flex;
  color:
}
.navbar a{
  color: black;
  text-decoration: none;
  padding: 5px 15px;
  font-size: 20px;
}
.navbar a:hover{
  background: white;
  color:teal;
}
h2 {
  font-size: 25px;
  text-decoration: none;
  margin-left: 20px;
  text-align: center;
}
.main {
  background-color: white;
  font-family:'PT Sans Narrow', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
hr {
  width: auto;
  margin-left: 10%;
  margin-right: 10%;
  height: 5px;
  background-color: teal;
}
.footer {
  font-family:'PT Sans Narrow', sans-serif;
  background-color: teal;
  height: 80px;
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

p {
  margin-right: 20%;
  margin-left: 20%;
  text-align: center
      -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;
}
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

a {
  padding: 20px;
  font-size: 40px;
 
}
a:hover {
  color: white;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
.dropdown {
  position: relative;
  display: flex; 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:grey;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0,2,1,0.55);
  z-index: 1;
  
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: white; color:teal}

.dropdown:hover .dropdown-content {display: block; }

.dropdown:hover .dropbtn {background-color: white; color:teal;}
